<div class="footer_new1">

    <div class="container" >
        <div class="footer_new1_container">
            <div class="footer_new1_left">


                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        产品系列
                    </li>


                    <li class="footer_ol_li">SAAS产品</li>
                    <li class="footer_ol_li">奇幻云</li>
                    <li class="footer_ol_li">特种影院</li>
                    <li class="footer_ol_li">趣上课</li>


                </ul>
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        核心技术
                    </li>
                    <li class="footer_ol_li">S-Display</li>
                    <li class="footer_ol_li">S-Mobile</li>
                    <li class="footer_ol_li">S-Motion</li>
                </ul>
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        公司信息
                    </li>
                    <li class="footer_ol_li">公司简介</li>
                    <li class="footer_ol_li">公司荣誉</li>
                    <li class="footer_ol_li">公司地址</li>
                </ul>



            </div>
            <div class="footer_new1_center">
                <img src="/css/images/footer_logo.png">
            </div>
            <div class="footer_new1_right">
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        行业应用
                    </li>
                    <li class="footer_ol_li">主题公园</li>
                    <li class="footer_ol_li">企业类</li>
                    <li class="footer_ol_li">灾难体验馆</li>
                    <li class="footer_ol_li">科博馆</li>
                </ul>

                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        客服服务
                    </li>
                    <li class="footer_ol_li">服务宗旨</li>
                    <li class="footer_ol_li">服务理念</li>
                    <li class="footer_ol_li">给我留言</li>
                    <li class="footer_ol_li">联系方式</li>
                </ul>
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        新闻信息
                    </li>
                    <li class="footer_ol_li">新闻动态</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="footer_new2">

    <div class="container" >
        <div class="footer_new2_left">
            <p>@vr虚拟室</p>
            <p>All Rights Reserved</p>
        </div>
        <div class="footer_new2_right">
            <img src="/css/images/footer_new2_jingying.png">
            <img src="/css/images/footer_new2_kexin.png">
            <img src="/css/images/footer_new2_monitor.png">
        </div>
    </div>

</div>


