@import "nib"
@import "_variables"
@import "_extend"

.main-nav-list-link{
    color: #333333;
}

.footer_new1{
    width:100%;
    background-color:#920101;
    height:220px;
}
.footer_new2{
    width:100%;
    background-color:#9d1b1b;
    //height:80px;
    //vertical-align: middle;
    padding-top:15px;
}
.footer_new1_container{
    margin:30px 20px;
    text-align: center;        /*文字水平居中对齐*/
    height :100%;
}
.footer_new1_left{
    float :left;
    overflow:hidden;
    width:35%;
    margin:auto;
    height :100%;
}
.footer_new1_center{
    float: left;
    text-align: center;        /*文字水平居中对齐*/
    overflow:hidden;
    width:28%;

    margin:auto;
    height :100%;
    //padding-top:20px;

}
.footer_new1_right{
    float: right;

    overflow:hidden;
    width:35%;
    //display:inline-block;
    margin:auto;
    height :100%;
    //vertical-align:top;
}
.footer_new1_right .footer_ol{margin-right:0;margin-left:60px;}


.footer_new2_left{
    display:inline-block;
    color: #ffffff;
}
.footer_new2_right{
    display:inline-block;
    float: right;

}


.table{
    border:none;
}
.footer_ol{
    float:left;
    margin-right:60px;
}
.footer_ol_first_li{
    margin-bottom:26px;
    font-size:15px;
    color: #ffffff;
}
.footer_ol_li{
    height:24px;
    font-size:13px;
    color: #ffffff;
}
/* css style: */
html,body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
